<html>
    <head>
        <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/registro.css">
    </head>
    <body>
        <div class="login-page">
        <div class="form">
            <form method="get" class="register-form">
                <p>Nombre: <input type="text" name="nombre" size="40"></p>
                <p>Año de nacimiento: <input type="image" name="foto"></p>
                <p>descripcion: <input type="text" name="descripcion" maxlength="400" size="4"></p>
                <p>Usado:
                  <input type="radio" name="tf" value= 'true'> Si
                  <input type="radio" name="tf" value= 'false'> No
                </p>
                <p>
                  <input type="submit" value="Enviar">
                  <input type="reset" value="Borrar">
                </p>
              </form>
        </div>
      </div>      
    </body>
</html>
